# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build output
dist/
build/

# IDE settings
.vscode/
.idea/

# Ignore specific files
secret-config.json
